name: 'Test and build'

on:
  push:
    branches:
      - '**'

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install dependencies
        run: pnpm ci install

      - name: Build
        run: pnpm run build
